 <% @menu.each do |menu| %>
  <tr>
    <td><%= menu.name %></td>
      <% menu.menu_timings.each do |menu_timing| %>
        <td><%= menu_timing.weekdays %></td>
        <td><%= menu_timing.open_from %> to <%= menu_timing.open_to %>
      <% end %>
    </td>

    <td>  <%= link_to "Food Items",  menus_food_item_path(menu_id: menu.id),
                  class: "btn btn-sm btn-secondary" %>
        <%= link_to "Deals", menus_deal_path(menu_id: menu.id),
                    class: "btn btn-sm btn-secondary " %>
    </td>

    <td>
      <%= link_to "Edit", edit_food_item_path(menu),
                  class: "btn btn-sm btn-secondary" %>
        <%= link_to "Remove", food_item_path(menu), method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning" %>
    </td>
  </tr>
<% end %>
