<!-- Page Wrapper -->
<div id="wrapper">
  <%= render 'layouts/sidebar' %>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div>
      <%= render 'layouts/navbar' %>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Menus</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
          For more information about DataTables, please visit the <a target="_blank"
              href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary link-color-add">Menus
              <%= button_to new_restaurant_food_item_path(current_employee),:method => :get, class: "nav-link-style" do %>
                <i class="fa fa-plus"></i> Add new Food Item <% end %></h6>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>

                  <tbody>
                    <% @menu.menu_items.each do |menuItems| %>
                      <% if menuItems.menuable_type == "GroupItem" %>
                        <% menuItems.menuable.food_items.each do |food| %>
                          <tr>
                            <td><%= food.name %></td>
                            <td><%= food.group_item.name %></td>
                            <td><%= food.price %></td>
                            <td><%= food.quantity %></td>
                            <td>
                              <%= link_to "Edit", edit_food_item_path(food),
                                          class: "btn btn-sm btn-secondary" %>
                                <%= link_to "Remove", food_item_path(food), method: :delete,
                                            data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning" %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<%= render 'layouts/logout_model' %>
