<% @deal.deal_items.each do |deal_items| %>
  <tr>
    <% if deal_items.dealable_type == "GroupItem" %>
      <% deal_items.dealable.food_items.each do |food_item| %>
        <td><%= food_item.id %></td>
        <td><%= food_item.name %></td>
        <td><%= food_item.price %></td>
        <td>
          <%= link_to "Remove",  deal_item_path(deal_items), method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning" %>
        </td>
        </tr>
      <% end %>
    <% elsif deal_items.dealable_type == "FoodItem"%>
      <td><%= deal_items.dealable.id%></td>
      <td><%= deal_items.dealable.name%></td>
      <td><%= deal_items.dealable.price%></td>
      <td>
        <%= link_to "Remove",  deal_item_path(deal_items), method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning" %>
      </td>
    <% end %>
  </tr>
<% end %>
