<!-- Page Wrapper -->
<div id="wrapper">

  <%= render 'layouts/sidebar' %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%= render 'layouts/navbar' %>

      <div class="card-body">
        <div class="row gutters">
          <div class="col-md-3" ></div>
          <div class="col-xl-12 col-lg-12 col-md-8 col-sm-6 col-12">
            <%= form_with(model: @deal_item, local: true, remote: false) do |f| %>

              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                  <label for="Name" class="form-edit-label">Name</label>
                    <%= f.text_field :name, class: "form-control" %>
                </div>
              </div>

              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                  <label for="price" class="form-edit-label">Price</label>
                    <%= f.text_field :date_active_from, class: "form-control" %>
                </div>
              </div>

              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                  <label for="date_active_from" class="form-edit-label">Start Date</label>
                    <%= f.datetime_field :time_active_from, class: "form-control" %>
                </div>
              </div>

              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                  <label for="date_active_to" class="form-edit-label">End Date</label>
                    <%= f.datetime_field :time_active_to, class: "form-control" %>
                </div>
              </div>

              <%= f.fields_for :menu_items do |m| %>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="menu_id" class="form-edit-label">Menu</label>
                      <%= m.select :menu_id, Menu.all.to_a.map  { |t| ["#{t.name}", t.id] }, {include_blank: "Select Menu"}, class: "form-control" %>
                  </div>
                </div>
              <% end %>

              <div class="text-right">
                <%= button_to 'cancel', :back, :method => :get, class: "" %>
                <%= f.submit %>
              </div>

            <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>

      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>

    </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2020</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
