<!-- Page Wrapper -->
<div id="wrapper">
  <%= render 'layouts/sidebar' %>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div>
      <%= render 'layouts/navbar' %>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Reviews</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
          For more information about DataTables, please visit the <a target="_blank"
              href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary link-color-add">Reviews
            </h6>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <div class="form-row">
                <div class ="form-group col-md-6">
                  <%= form_with url: "/reviews", method: :get do |form| %>
                    <%= form.label "Show entries: " %>
                    <%= select_tag "per_page", options_for_select([5,10,20,50], :selected=>params[:per_page]),  { onchange: "this.form.submit();"} %>
                  <% end %>
                </div>
                <div class ="col-md-6">
                    <%= render 'search_form' %>
                </div>
              </div>

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th><%= sort_link @q, :id, "Order Id", class: "sort-link"%></th>
                    <th><%= sort_link @q, :customer_first_name, "Customer", class: "sort-link"%></th>
                    <th>Order</th>
                    <th><%= sort_link @q, :review_rating, "Rating", class: "sort-link"%></th>
                    <th><%= sort_link @q, :review_remarks, "Remarks", class: "sort-link"%></th>
                    <th><%= sort_link @q, :review_created_at, "Date", class: "sort-link"%></th>
                  </tr>
                </thead>

                  <tfoot>
                    <tr>
                      <th>Order Id</th>
                      <th>Customer</th>
                      <th>Order</th>
                      <th>Rating</th>
                      <th>Remarks</th>
                      <th>Date</th>
                    </tr>
                  </tfoot>

                  <tbody>
                    <% @order.each do |order| %>
                        <tr>
                          <td><%= order.id %></td>
                          <td><%= order.customer_name %></td>
                           <td><% order.order_items.each do |order_item| %>
                            <%= order_item.order_item_name %>
                          <% end %></td>
                          <td><%= order.rating %></td>
                          <td><%= order.remarks %></td>
                          <td><%= order.created_at %></td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
                <div class="right-btn">
                  <%= pagy_bootstrap_nav(@pagy).html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<%= render 'layouts/logout_model' %>
